<div class="row mt-2">
  <div class="col">
    <h2>Counter: {{ counterValue() }}</h2>
  </div>
  <div class="col">
    <h2>Counter Square: {{ squareCounter() }}</h2>
  </div>
  <hr />
  <div class="col-4">
    <button class="btn btn-primary w-100" (click)="increaseBy(-1)">-</button>
  </div>
  <div class="col-4">
    <button class="btn btn-primary w-100" (click)="counterValue.set(0)">
      Reset
    </button>
  </div>
  <div class="col-4">
    <button class="btn btn-primary w-100" (click)="increaseBy(+1)">+</button>
  </div>
</div>
